@import "../../utils/colors.css";

/* body {
  background-image: linear-gradient (var(--blue) 1%, var(--lilac) 75%);
} */
body {
  background-image: linear-gradient(var(--blue) 1%, var(--lilac) 75%);
  min-height: 100vh;
}
h1 {
  display: flex;
  justify-content: center;
  width: 65%;
  height: 25px;
  border: 7px inset var(--space);
  background-color: var(--buff);
  font-family: "Press Start 2P", cursive;
  font-size: larger;
  padding: 1rem;
  margin: 3rem;
}
.bioContainer {
  display: flex;
  width: 60%;
  height: 30%;
  padding: 2rem;
  margin: 4rem;
  border: 7px inset var(--space);
  /* background-color: var(--mandarin); */
  font-family: "Play", sans-serif;
  font-weight: 300;
  background-color: var(--buff);
}
/* .navbar {
  display: flex;
  border: 7px inset rgb(77, 73, 73);
} */
