@import "../../utils/colors.css";

.footerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: auto;
  position: relative;
  bottom: -8.5rem;
  color: var(--red);
}
i {
  font-size: xx-large;
}
