@import "../../utils/colors.css";

.footerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: auto;
  position: fixed;
  bottom: 7.5rem;
  left: 8rem;
}
