.sideBarContainer {
  width: 3rem;
  height: 7rem;
  flex-direction: column;
  z-index: 1;
  top: 0;

  display: flex;
  background-color: transparent;
  padding-top: 2rem;
}
.sideBarContainer i {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  right: 1;
  text-decoration: none;
  font-size: larger;
  color: rgb(154, 8, 8);

  display: block;
}
