.sideBarContainer {
  width: 4rem;
  position: relative;
  z-index: 1;
  top: 0;
  left: 1;
  background-color: transparent;
  padding-top: 2rem;
}
.sideBarContainer i {
  padding: 1rem 3rem 1rem 4rem;
  text-decoration: none;
  font-size: larger;
  color: rgb(154, 8, 8);
  display: block;
}
