.sideBarContainer {
  width: 1rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: transparent;
  padding-top: 2rem;
}
.sideBarContainer i {
  padding: 1rem 3rem 1rem 4rem;
  text-decoration: none;
  font-size: larger;
  color: black;
  display: block;
}
