@import "../../utils/colors.css";

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 70vh;
  padding: 2rem;
  margin: 4rem;
  border: 7px inset var(--space);
  /* background-color: var(--mandarin); */
  font-family: "Play", sans-serif;
  font-weight: 300;
  color: var(--mandarin);
  background-color: var(--black);
  border-radius: 15%;
  align-items: center;
}

.messageInput {
  display: flex;
  flex-direction: column;
  width: 30rem;
}
.messageTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}
.nameInput {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 30rem;
}
.emailInput {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 30rem;
}
.fullName {
  color: var(--mandarin);
  background-color: var(--black);
  box-shadow: inset 0 0 0.1rem 0.2rem var(--black),
    0 0 0.1rem 0.2rem var(--mandarin);
}
.fullName::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: var(--mandarin);
}
.email {
  color: var(--mandarin);
  background-color: var(--black);
  box-shadow: inset 0 0 0.1rem 0.2rem var(--black),
    0 0 0.1rem 0.2rem var(--mandarin);
}
.email::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: var(--mandarin);
}
.message {
  color: var(--mandarin);
  background-color: var(--black);

  box-shadow: inset 0 0 0.1rem 0.2rem var(--black),
    0 0 0.1rem 0.2rem var(--mandarin);
}
.message::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: var(--mandarin);
}
.submitBtn {
  margin: 2rem;
  font-weight: bold;
  background-color: transparent;
  color: var(--red);
}
.submitBtn:hover {
  color: var(--mandarin);
  box-shadow: inset 0 0 0.1rem 0.2rem var(--black), 0 0 0.1rem 0.2rem var(--red);
}
