@import "../../utils/colors.css";

.navBar-container {
  background-color: var(--buff);
  display: flex;
  justify-content: flex-end;
}
.navbar {
  display: flex;
  border: 7px groove var(--space);
  align-content: space-between;
}
