@import "../../utils/colors.css";

.navBar-container {
  background-color: var(--buff);
  display: flex;
  justify-content: space-evenly;
}
.navbar {
  display: flex;
  width: 35%;
  height: 35%;
  border: 7px groove var(--space);
  justify-content: space-between;
  font-family: "Press Start 2P", cursive;
}
a {
  text-decoration: none;
  color: var(--black);
}
