@import "../../utils/colors.css";

.card {
  display: flex;
  position: absolute;
  width: 85%;
  height: 70%;
  padding: 2rem;
  margin: 4rem;
  border: 7px inset var(--space);
  /* background-color: var(--mandarin); */
  font-family: "Play", sans-serif;
  font-weight: 300;
  color: var(--mandarin);
  background-color: var(--black);
  border-radius: 15%;
}
.galleryBtn {
  height: 25px;
  width: 75px;
  background-color: var(--lilac);
  float: right;
  position: absolute;
  right: 0;
  top: 10px;
}
.projectLinks {
  position: absolute;
  right: 20;
  bottom: 10;
  color: var(--red);
}
