@import "../../utils/colors.css";

.card {
  display: flex;
  position: absolute;
  width: 60%;
  height: 40%;
  padding: 2rem;
  margin: 4rem;
  border: 7px inset var(--space);
  /* background-color: var(--mandarin); */
  font-family: "Play", sans-serif;
  font-weight: 300;
  color: var(--mandarin);
  background-color: var(--black);
  border-radius: 15%;
}
.galleryBtn {
  height: 15%;
  width: 75px;
  background-color: var(--lilac);
}
/* .buttonLocation {
  display: flex;
  position: static;
  right: 100;
} */
